body {
    text-rendering:optimizeLegibility;
    font-family:sans-serif, georgia, Verdana, Arial;
    font-size:18px;
    line-height:22px;
    color:#333;
    background:#d7e4cb;
}

div.content {
    width:946px;
    margin:5px auto;
    padding:1em 0em 0em 0:em;
    align: justify;
}

h1 {
    font-size:26px;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    line-height:150%;
    text-align: center;
}

h2 {
    font-weight: bold;
	font-size: 23px;
	color: #414141;
	letter-spacing: 0px;
	margin-bottom: 15px;
}

.banner{
  text-align:center;
  font-family:georgia, Verdana, Arial;
  font-size:18px;
  line-height:100%;
}

.postcard{
    margin:0 25px 1px;
    background:#f5f5f5 50%;
    background-size:cover;
    border-radius:5px;
    box-shadow:0 0 1px rgba(39,44,49,.1),0 3px 16px rgba(39,44,49,.07);
    transition:all .3s ease;
}

.postcard:hover{
    box-shadow:8px 14px 38px rgba(39,44,49,.06),1px 3px 8px rgba(39,44,49,.03);
    transition:all .5s ease;
    transform:translate3D(0,2px,0)
}

/* color: d93025, 429bdf, b01861*/
/* a {color:#d93025; text-decoration:none;} */
a {color:#11acdb; text-decoration:none;}
a:hover {text-decoration:underline;}

div.sec {
    padding: 0.1em 0;
}

div.authors{
    text-align: center;
    width: 90%;
    margin-right:200px;
    margin-left:80px;
    margin-bottom: 0;
    font-size:18px;
}

div.author{
    margin-left:40px;
    font-weight:bold;
    display: inline;
    padding: 0 1em;
    float:right;
    float:left;
}

div.links {
    padding-top: 1em;
}

div.link{
    display: inline;
    padding-right: 1em;
}

div.bibtex {
    font-family: courier;
    white-space: pre;
    font-size: 16px;
    background-color: #eee;
	border: 1px solid #ccc;
    margin-left: 3%;
    margin-right: 3%;
}